{% extends 'base.html' %}

{% block content %}
<div>
    <h1>About</h1>
    <h5>Created by Andrew Leland</h5>
    <p>
        The CFR or the Code for Federal Regulations is a set of permanant rules put in place by departments and agencies. Each link
        you will find here will direct you to an agency, it's sub agencies, and the titles and chapters ascociated with them. Along with this, you will 
        be able to see a percentage of increase in words in Titles and Chapters since the start of eCFR which began around 2017. Besure to use the date search query
         for comparison across years.
    </p>

</div>
    
{% endblock %}